* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #333;
}

/* Cabeçalho */
.header {
  background: #4caf50;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

/* Barra de busca */
.search-bar input {
  padding: 10px;
  width: 260px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Menu */
.menu a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.menu a:hover {
  text-decoration: underline;
}

/* Produtos */
.produtos {
  padding: 90px 10%;
}

.produtos h2 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.item {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-5px);
}


.item p {
  font-weight: bold;
  margin-bottom: 5px;
}

.item span {
  font-weight: bold;
}

/* Newsletter */
.newsletter {

  padding: 30px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

.newsletter input {
  padding: 10px;
  width: 260px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.newsletter button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #fff;
  color: #4caf50;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.newsletter button:hover {
  background: #e9e9e9;
}

/* Rodapé */
.footer {
  background: #544a4a;
  color: #fff;
  padding: 40px 10%;
  margin-top: 40px;
}

.footer .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p {
  margin-bottom: 6px;
}

.copy {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.7;
}

